@import './responsivetool.scss';
@mixin showOnlyWhenBiggerThanL { //PushdownMenu组件和left-brand部分都是要使用responsive-show的
  display: none;
  @include oGridRespondTo('L') {
    display: block;
  }
}

$bgColor:#333;
$textColor: #fff;
html,body {
  margin: 0;
  padding: 0;
}
.container {
  font-family: Helvetica Neue,Verdana,Arial,Hiragino Sans GB,WenQuanYi Micro Hei,Heiti SC,STHeiti,Microsoft Yahei,SimSun,sans-serif;
  font-size: 16px;
  width: 100%;
  position: relative; //思考：如何让其min-width；240px生效?
  @include oGridRespondTo($until:'L') {//小于L的情况下position为fixed
    position: fixed;
    top:0;
  }
}

/************top-part*************/
.top-part {
  height: 44px;
  background-color: $bgColor;
  color: $textColor;
  padding:0 10px;
	font-size: 14px;
  box-sizing: border-box;
  position: relative;
  @include oGridRespondTo($until:'L') {//小于L的情况下position为fixed
    position: fixed;
    top:0;
    width: 100%;
  }
  @include oGridRespondTo('L'){ //大于L的高度和padding
    height:57px;
    padding: 0px 30px;
  }
  @include oGridRespondTo('XL') {//大于XL的高度和边距
    height: 57px;
    padding: 0px 74.5px;
  }
}
.content {
  height:100%;
  position: relative;
}

.top-column {
  height: 100%;
}
.column-center {
  width: 100%;
}

.home-default-title {
  height: 100%;
  background-size: 98.7px 21px;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url(http://s.ftimg.net/img/svg/brand-ftc-masthead-white.svg);
  @include oGridRespondTo('L') {
    background-size: auto 36px;/*背景图片高度为36px，宽度按比例缩放*/
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(http://static.ftchinese.com/images/masthead36.png);
  }
}

.home-text-title {
  text-align: center;
  height: 57px;
  line-height: 57px;
  font-size: 32px;
  @include oGridRespondTo($until:'L') {
    height:44px;
    line-height: 44px;
    font-size:22px;
  }
}
.channel-title {
  position: absolute; 
  top:0;
  width:100%;//待查证：子元素改变position好像就不能直接继承父元素的宽度的100%
  text-align: center;
  height: 57px;
  line-height: 57px;
  font-size: 32px;
  background:$bgColor; //这里要设置background-color才能覆盖home-text-title，因为background-color默认值是transparent
  @include oGridRespondTo($until: 'L') {
    display: none;
  }
}

.column-left {
  position: absolute;
  left: 0px;
  top: 0px;
  width:auto;
  text-align: left;
}

.pushdownmenu-tool {
  // display: none;
  // @include oGridRespondTo('L') {
  //   display: block;
  // }
  @include showOnlyWhenBiggerThanL;
  position: relative;
  z-index: 10;//NOTE:只有position为absolute/relative/fixed中的一个，z-index才会生效
}
.left-default-brand {
  width:120px;
  height:100%;
  background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fstatic.ftchinese.com%2Fimages%2Fmasthead36.png?source=ftchinese&width=80&height=57&fit=contain&from=next001);
  background-size: 80px 17px;
  background-position: 0px center;
  background-repeat: no-repeat;
  // display: none;
  // @include oGridRespondTo('L') {
  //   display: block;
  // }
  @include showOnlyWhenBiggerThanL;
}
.left-text-brand {
  height:57px;
  max-width: 200px;
  font-size: 22px;
  line-height: 57px;
  text-align: left;
  @include showOnlyWhenBiggerThanL;
}


.column-right {
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: right;
}
.signmenu-tool {
  // display: none;
  // @include oGridRespondTo('L') {
  //   display: block;
  // }
  @include showOnlyWhenBiggerThanL;
}

/*************nav-part***************/
.nav-part {
  position: relative; //因为在尺寸小于L时，top-part的position为fixed,如果此时nav-part的position还为static，那么其必然会被position不为static的top-part覆盖……
}
/*************search bar part***********/ 
.search-bar {
  position: fixed;
  right: 0px;
  top: 0px;
  padding:0;
  width:100%;
  box-sizing: border-box;
  @include oGridRespondTo('L'){
    padding: 0px 20px;
    top:57px;
    position: absolute;
  }
  @include oGridRespondTo('XL') {
    padding: 0px 64.5px;
    top:57px;
  }
}