.menu {
  .item--nosigned, .item--signed {
    display: inline-block;
    height: 100%;
    line-height: 57px;
    padding: 0 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    &:hover, &:active {
      text-decoration: underline;
    }
  }
  .item--nosigned:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    top: 50%;
    left: -3px;
    margin-top: -7px;
    background-color: #fff;
  }
}  