.menu {
  margin: 0;

  li {
    display: inline-block;
    height: 100%;
    line-height: 57px;
    padding: 0 5px;
    color: #fff;
    position: relative;
    cursor: pointer;

    a {
      cursor: pointer;
      color: #fff;
      text-decoration: none;
      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }
  .item--nosigned:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 14px;
    top: 50%;
    left: -3px;
    margin-top: -7px;
    background-color: #fff;
  }
}  